body{
    background: rgb(10,4,176);
    background: linear-gradient(90deg, rgba(10,4,176,1) 28%, rgba(245,25,25,1) 100%);
}

.border-negro{
    border-bottom: 0.5px solid black;
}

.border-blanco-top{
    border-top: 2px solid white;
}

.logo{
    width: 7%;
}

.azul{
   color: rgb(14, 14, 240);
}

.rojo{
    color: rgb(228, 47, 47);
 }

.imgHome {
    width: 15%;
    padding-top: 18px;
}

.textoHome{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    color: white;
}

.textoFooter{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    margin-top: 25px;
    padding-left: 47px;
    color: rgb(228, 47, 47);
    background-color: #212529;
}